In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import defaultdict
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
pwd

'C:\\Users\\Vivek Garg\\Mentor Recommendor Engine'

In [3]:
# read CSVs
mentor = pd.read_csv(r"C:\Users\Vivek Garg\Mentor Recommendor Engine\Data.csv", index_col=False)
mentor.head(1)

,name,identity,sex,city,city_tier,sector,company,designation,shortlistedforcompany,college,...,ssc,hsc,cgpa,internship,other,postcity,othrahiev,gdduration,threewddcrua,is_active
0,Krati Tiwari,4,F,Indore,II,Technology,Google Inc.,Software Engineer,Pre-placement offer,IIT Bombay,...,100,86.2,7.4,G Suite & Tez App teams in Google Inc,Pre-placement offer,Hyderabad,"Brand Ambassadors of Digital India, Desai Seth...",2015-2019,Techie | Cricketer | Drama Enthusiast,Y

In [4]:
mentor.index

RangeIndex(start=0, stop=405, step=1)

In [5]:
mentor.shape

(405, 24)

In [6]:
mentor['name'].nunique()

391

In [7]:
#Data frame for user
data = pd.read_csv(r"C:\Users\Vivek Garg\Mentor Recommendor Engine\UserInputData.csv",index_col = False)
data.head(1)

,name,identity,sector,company,college,program,department,ssc,hsc,cgpa,internship,other,postcity,othrahiev,gdduration,threewddcrua,is_active
0,xyz,3,Technology,Microsoft,IIT Kharagpur,Dual Degree,Electrical Engineering,77.83,82.5,7.9,J P Morgan Chase,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data.shape

(1, 17)

In [9]:
df1=pd.DataFrame(mentor, columns=['identity','name','sector','company','program','college','department','ssc','hsc','cgpa','internship'])
df1.iloc[0:3]

,identity,name,sector,company,program,college,department,ssc,hsc,cgpa,internship
0,4,Krati Tiwari,Technology,Google Inc.,B.Tech,IIT Bombay,Computer Science,100,86.2,7.40,G Suite & Tez App teams in Google Inc
1,6,Avineil Jain,Finance,Optiver,Dual Degree,IIT Bombay,Electrical Engineering,100,96.4,9.54,"Schlumberger software services, George Washing..."
2,7,Prathu Baronia,Technology,OnePlus,Dual Degree,IIT Bombay,Electrical Engineering,90.4,90.4,9.00,Embedded System Engineer at Greetude Energy Pv...

In [10]:
df2=pd.DataFrame(data, columns=['identity','name','sector','company','program','college','department','ssc','hsc','cgpa','internship'])
df2.iloc[0:]

,identity,name,sector,company,program,college,department,ssc,hsc,cgpa,internship
0,3,xyz,Technology,Microsoft,Dual Degree,IIT Kharagpur,Electrical Engineering,77.83,82.5,7.9,J P Morgan Chase

In [11]:
df = df2.append(df1,ignore_index = True)
df.head(3)

,identity,name,sector,company,program,college,department,ssc,hsc,cgpa,internship
0,3,xyz,Technology,Microsoft,Dual Degree,IIT Kharagpur,Electrical Engineering,77.83,82.5,7.90,J P Morgan Chase
1,4,Krati Tiwari,Technology,Google Inc.,B.Tech,IIT Bombay,Computer Science,100,86.2,7.40,G Suite & Tez App teams in Google Inc
2,6,Avineil Jain,Finance,Optiver,Dual Degree,IIT Bombay,Electrical Engineering,100,96.4,9.54,"Schlumberger software services, George Washing..."

In [12]:
#create a list of important columns to keep
features = ['sector','company','program','department','college','cgpa','ssc','hsc','internship']
mentor[features].head(3)

,sector,company,program,department,college,cgpa,ssc,hsc,internship
0,Technology,Google Inc.,B.Tech,Computer Science,IIT Bombay,7.40,100,86.2,G Suite & Tez App teams in Google Inc
1,Finance,Optiver,Dual Degree,Electrical Engineering,IIT Bombay,9.54,100,96.4,"Schlumberger software services, George Washing..."
2,Technology,OnePlus,Dual Degree,Electrical Engineering,IIT Bombay,9.00,90.4,90.4,Embedded System Engineer at Greetude Energy Pv...

In [13]:
#clean and process the data
for feature in features:
 df[feature] = df[feature].fillna('')  #fill any missing value with the empty string

In [14]:
#create a function to combine the values of the important columns
def combine_features(row):
    return row['sector']+" "+row['company']+" "+row['program']+" "+row['department']+" "+row['college']+" "+row['internship']

In [22]:
#apply the function to each row in the data set to store the combined strings into a new column called combined_features
df['combined_features'] = df.apply(combine_features, axis = 1)

In [23]:
#convert a collection of text to a matrix of token counts
count_matrix = CountVectorizer().fit_transform(df['combined_features'])

In [26]:
#get the cosine similarity matrix from the count matrix
cosine_sim = cosine_similarity(count_matrix)
print(cosine_sim)

[[1.         0.14509525 0.40824829 ... 0.         0.         0.        ]
 [0.14509525 1.         0.11846978 ... 0.         0.         0.        ]
 [0.40824829 0.11846978 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         1.         1.        ]
 [0.         0.         0.         ... 1.         1.         1.        ]
 [0.         0.         0.         ... 1.         1.         1.        ]]

In [27]:
#get the number of rows and columns in cosine_sim
cosine_sim.shape

(406, 406)

In [28]:
#helper function to get the name from the id
def name_identity(identity):
    return df[df.identity == identity]['name'].values[0]

In [29]:
#helper function to get the id from the name
def identity_name(name):
    return df[df.name == name]['identity'].values[0]

In [30]:
#the name of the user
user = df.loc[0,"name"]
user

'xyz'

In [31]:
#Find that name id
name_id = identity_name(user)

In [32]:
id_name = name_identity(2302)

In [33]:
name_id

3

In [34]:
id_name

'Anant Singh'

In [35]:
#enumerate through all the similarity scores of the 'user' to make a tuple of id and similarity index
similar_mentors = list( enumerate(cosine_sim[name_id]) )

In [36]:
similar_mentors

[(0, 0.47434164902525694),
 (1, 0.1720618004029213),
 (2, 0.3872983346207416),
 (3, 1.0),
 (4, 0.3818813079129867),
 (5, 0.26064301757134345),
 (6, 0.1767766952966369),
 (7, 0.14433756729740646),
 (8, 0.2886751345948129),
 (9, 0.2672612419124244),
 (10, 0.2004459314343183),
 (11, 0.2785430072655778),
 (12, 0.4472135954999579),
 (13, 0.1767766952966369),
 (14, 0.10660035817780521),
 (15, 0.10425720702853739),
 (16, 0.1720618004029213),
 (17, 0.1336306209562122),
 (18, 0.2165063509461097),
 (19, 0.18190171877724973),
 (20, 0.07537783614444091),
 (21, 0.0),
 (22, 0.15075567228888181),
 (23, 0.08333333333333333),
 (24, 0.10206207261596577),
 (25, 0.0),
 (26, 0.1720618004029213),
 (27, 0.25),
 (28, 0.2165063509461097),
 (29, 0.4082482904638631),
 (30, 0.05892556509887897),
 (31, 0.0),
 (32, 0.0),
 (33, 0.0),
 (34, 0.05590169943749474),
 (35, 0.07537783614444091),
 (36, 0.2165063509461097),
 (37, 0.16666666666666666),
 (38, 0.2946278254943948),
 (39, 0.2165063509461097),
 (40, 0.15811388300841897),
 (41, 0.15075567228888181),
 (42, 0.2886751345948129),
 (43, 0.35355339059327373),
 (44, 0.1767766952966369),
 (45, 0.0),
 (46, 0.06454972243679027),
 (47, 0.08333333333333333),
 (48, 0.0),
 (49, 0.25),
 (50, 0.08838834764831843),
 (51, 0.22613350843332272),
 (52, 0.125),
 (53, 0.0),
 (54, 0.0),
 (55, 0.0),
 (56, 0.0),
 (57, 0.07905694150420949),
 (58, 0.0944911182523068),
 (59, 0.07537783614444091),
 (60, 0.12909944487358055),
 (61, 0.0),
 (62, 0.0),
 (63, 0.06454972243679027),
 (64, 0.0),
 (65, 0.23717082451262844),
 (66, 0.0),
 (67, 0.30316953129541624),
 (68, 0.08838834764831843),
 (69, 0.0),
 (70, 0.0625),
 (71, 0.08333333333333333),
 (72, 0.0),
 (73, 0.0),
 (74, 0.0),
 (75, 0.10206207261596577),
 (76, 0.0),
 (77, 0.06454972243679027),
 (78, 0.0),
 (79, 0.07537783614444091),
 (80, 0.0),
 (81, 0.11785113019775793),
 (82, 0.10206207261596577),
 (83, 0.12126781251816648),
 (84, 0.0),
 (85, 0.125),
 (86, 0.19364916731037082),
 (87, 0.22613350843332272),
 (88, 0.1875),
 (89, 0.07905694150420949),
 (90, 0.1875),
 (91, 0.1875),
 (92, 0.0),
 (93, 0.0),
 (94, 0.1636634176769943),
 (95, 0.09805806756909202),
 (96, 0.0),
 (97, 0.1386750490563073),
 (98, 0.07905694150420949),
 (99, 0.0),
 (100, 0.0),
 (101, 0.0),
 (102, 0.1889822365046136),
 (103, 0.07537783614444091),
 (104, 0.0),
 (105, 0.15075567228888181),
 (106, 0.0),
 (107, 0.057353933467640436),
 (108, 0.0),
 (109, 0.2165063509461097),
 (110, 0.1386750490563073),
 (111, 0.07537783614444091),
 (112, 0.1386750490563073),
 (113, 0.07216878364870323),
 (114, 0.1336306209562122),
 (115, 0.12909944487358055),
 (116, 0.0),
 (117, 0.0),
 (118, 0.0),
 (119, 0.14433756729740646),
 (120, 0.1386750490563073),
 (121, 0.0),
 (122, 0.0),
 (123, 0.1875),
 (124, 0.0),
 (125, 0.07905694150420949),
 (126, 0.2165063509461097),
 (127, 0.15811388300841897),
 (128, 0.0),
 (129, 0.0944911182523068),
 (130, 0.07905694150420949),
 (131, 0.08333333333333333),
 (132, 0.0),
 (133, 0.2795084971874737),
 (134, 0.0),
 (135, 0.1767766952966369),
 (136, 0.0),
 (137, 0.08333333333333333),
 (138, 0.0944911182523068),
 (139, 0.0),
 (140, 0.125),
 (141, 0.22613350843332272),
 (142, 0.14433756729740646),
 (143, 0.11785113019775793),
 (144, 0.0625),
 (145, 0.07216878364870323),
 (146, 0.053300179088902604),
 (147, 0.06063390625908324),
 (148, 0.0),
 (149, 0.0668153104781061),
 (150, 0.053300179088902604),
 (151, 0.19364916731037082),
 (152, 0.08838834764831843),
 (153, 0.14433756729740646),
 (154, 0.0625),
 (155, 0.0),
 (156, 0.0),
 (157, 0.07537783614444091),
 (158, 0.08333333333333333),
 (159, 0.1336306209562122),
 (160, 0.05),
 (161, 0.1636634176769943),
 (162, 0.0),
 (163, 0.08333333333333333),
 (164, 0.08333333333333333),
 (165, 0.0),
 (166, 0.08333333333333333),
 (167, 0.0),
 (168, 0.25),
 (169, 0.0),
 (170, 0.08838834764831843),
 (171, 0.33407655239053047),
 (172, 0.08333333333333333),
 (173, 0.1386750490563073),
 (174, 0.0),
 (175, 0.1386750490563073),
 (176, 0.1386750490563073),
 (177, 0.19364916731037082),
 (178, 0.15811388300841897),
 (179, 0.07537783614444091),
 (180, 0.0),
 (181, 0.06454972243679027),
 (182, 0.0),
 (183, 0.0),
 (184, 0.0),
 (185, 0.08838834764831843),
 (186, 0.125),
 (187, 0.31622776601683794),
 (188, 0.12126781251816648),
 (189, 0.08333333333333333),
 (190, 0.2551551815399144),
 (191, 0.17677669529663687),
 (192, 0.23717082451262844),
 (193, 0.08333333333333333),
 (194, 0.125),
 (195, 0.21320071635561041),
 (196, 0.14433756729740646),
 (197, 0.1336306209562122),
 (198, 0.39528470752104744),
 (199, 0.1767766952966369),
 (200, 0.06933752452815364),
 (201, 0.0),
 (202, 0.08333333333333333),
 (203, 0.0),
 (204, 0.2773500981126146),
 (205, 0.14433756729740646),
 (206, 0.0),
 (207, 0.0),
 (208, 0.08838834764831843),
 (209, 0.0),
 (210, 0.0),
 (211, 0.08333333333333333),
 (212, 0.1720618004029213),
 (213, 0.2551551815399144),
 (214, 0.20801257358446093),
 (215, 0.0),
 (216, 0.06933752452815364),
 (217, 0.0944911182523068),
 (218, 0.0),
 (219, 0.0),
 (220, 0.07905694150420949),
 (221, 0.16770509831248423),
 (222, 0.3287979746107146),
 (223, 0.15075567228888181),
 (224, 0.08333333333333333),
 (225, 0.0),
 (226, 0.19364916731037082),
 (227, 0.23570226039551587),
 (228, 0.0),
 (229, 0.0),
 (230, 0.17677669529663687),
 (231, 0.08838834764831843),
 (232, 0.0944911182523068),
 (233, 0.0944911182523068),
 (234, 0.0),
 (235, 0.125),
 (236, 0.0),
 (237, 0.10206207261596577),
 (238, 0.0),
 (239, 0.0),
 (240, 0.08838834764831843),
 (241, 0.0),
 (242, 0.15811388300841897),
 (243, 0.0),
 (244, 0.06933752452815364),
 (245, 0.0),
 (246, 0.15075567228888181),
 (247, 0.20412414523193154),
 (248, 0.08838834764831843),
 (249, 0.11180339887498948),
 (250, 0.20412414523193154),
 (251, 0.0),
 (252, 0.15811388300841897),
 (253, 0.15811388300841897),
 (254, 0.11180339887498948),
 (255, 0.0),
 (256, 0.22360679774997896),
 (257, 0.0),
 (258, 0.3333333333333333),
 (259, 0.11180339887498948),
 (260, 0.22613350843332272),
 (261, 0.08838834764831843),
 (262, 0.0),
 (263, 0.0),
 (264, 0.17677669529663687),
 (265, 0.16666666666666666),
 (266, 0.08333333333333333),
 (267, 0.10206207261596577),
 (268, 0.20412414523193154),
 (269, 0.0),
 (270, 0.0),
 (271, 0.0),
 (272, 0.0),
 (273, 0.0),
 (274, 0.0),
 (275, 0.0),
 (276, 0.08333333333333333),
 (277, 0.06933752452815364),
 (278, 0.20412414523193154),
 (279, 0.0),
 (280, 0.0),
 (281, 0.0),
 (282, 0.15811388300841897),
 (283, 0.0),
 (284, 0.0),
 (285, 0.10660035817780521),
 (286, 0.15075567228888181),
 (287, 0.0),
 (288, 0.0),
 (289, 0.0),
 (290, 0.0944911182523068),
 (291, 0.11180339887498948),
 (292, 0.07537783614444091),
 (293, 0.15811388300841897),
 (294, 0.0),
 (295, 0.0),
 (296, 0.0),
 (297, 0.0),
 (298, 0.0),
 (299, 0.0),
 (300, 0.16666666666666666),
 (301, 0.0),
 (302, 0.08838834764831843),
 (303, 0.0),
 (304, 0.0),
 (305, 0.0),
 (306, 0.0),
 (307, 0.0),
 (308, 0.0),
 (309, 0.0668153104781061),
 (310, 0.0668153104781061),
 (311, 0.28347335475692037),
 (312, 0.0),
 (313, 0.14433756729740646),
 (314, 0.0),
 (315, 0.0),
 (316, 0.15075567228888181),
 (317, 0.0),
 (318, 0.0),
 (319, 0.0),
 (320, 0.0),
 (321, 0.0),
 (322, 0.0),
 (323, 0.16666666666666666),
 (324, 0.0),
 (325, 0.0),
 (326, 0.16666666666666666),
 (327, 0.0),
 (328, 0.0),
 (329, 0.0),
 (330, 0.0),
 (331, 0.0),
 (332, 0.0),
 (333, 0.08838834764831843),
 (334, 0.0),
 (335, 0.22360679774997896),
 (336, 0.08333333333333333),
 (337, 0.0944911182523068),
 (338, 0.0),
 (339, 0.15811388300841897),
 (340, 0.0),
 (341, 0.17677669529663687),
 (342, 0.0),
 (343, 0.07905694150420949),
 (344, 0.0),
 (345, 0.11180339887498948),
 (346, 0.15075567228888181),
 (347, 0.0),
 (348, 0.0),
 (349, 0.0),
 (350, 0.0),
 (351, 0.0),
 (352, 0.0),
 (353, 0.0),
 (354, 0.10206207261596577),
 (355, 0.06933752452815364),
 (356, 0.11180339887498948),
 (357, 0.22613350843332272),
 (358, 0.0),
 (359, 0.10206207261596577),
 (360, 0.0),
 (361, 0.0),
 (362, 0.14433756729740646),
 (363, 0.0),
 (364, 0.15811388300841897),
 (365, 0.15075567228888181),
 (366, 0.0),
 (367, 0.0),
 (368, 0.0),
 (369, 0.0),
 (370, 0.0),
 (371, 0.0),
 (372, 0.0),
 (373, 0.0),
 (374, 0.0),
 (375, 0.0),
 (376, 0.0),
 (377, 0.0),
 (378, 0.125),
 (379, 0.0),
 (380, 0.0),
 (381, 0.0),
 (382, 0.15811388300841897),
 (383, 0.0),
 (384, 0.0),
 (385, 0.11180339887498948),
 (386, 0.11180339887498948),
 (387, 0.15075567228888181),
 (388, 0.0),
 (389, 0.08838834764831843),
 (390, 0.0),
 (391, 0.20412414523193154),
 (392, 0.10206207261596577),
 (393, 0.14433756729740646),
 (394, 0.10206207261596577),
 (395, 0.0),
 (396, 0.0),
 (397, 0.0),
 (398, 0.0),
 (399, 0.0),
 (400, 0.0),
 (401, 0.08838834764831843),
 (402, 0.17677669529663687),
 (403, 0.0),
 (404, 0.0),
 (405, 0.0)]

In [37]:
#sort the list of similar mentors in the order of similarity scores in descending order
sorted_similar_mentors = sorted(similar_mentors, key = lambda x:x[1], reverse = True)[2:]

In [38]:
#print
sorted_similar_mentors

[(12, 0.4472135954999579),
 (29, 0.4082482904638631),
 (198, 0.39528470752104744),
 (2, 0.3872983346207416),
 (4, 0.3818813079129867),
 (43, 0.35355339059327373),
 (171, 0.33407655239053047),
 (258, 0.3333333333333333),
 (222, 0.3287979746107146),
 (187, 0.31622776601683794),
 (67, 0.30316953129541624),
 (38, 0.2946278254943948),
 (8, 0.2886751345948129),
 (42, 0.2886751345948129),
 (311, 0.28347335475692037),
 (133, 0.2795084971874737),
 (11, 0.2785430072655778),
 (204, 0.2773500981126146),
 (9, 0.2672612419124244),
 (5, 0.26064301757134345),
 (190, 0.2551551815399144),
 (213, 0.2551551815399144),
 (27, 0.25),
 (49, 0.25),
 (168, 0.25),
 (65, 0.23717082451262844),
 (192, 0.23717082451262844),
 (227, 0.23570226039551587),
 (51, 0.22613350843332272),
 (87, 0.22613350843332272),
 (141, 0.22613350843332272),
 (260, 0.22613350843332272),
 (357, 0.22613350843332272),
 (256, 0.22360679774997896),
 (335, 0.22360679774997896),
 (18, 0.2165063509461097),
 (28, 0.2165063509461097),
 (36, 0.2165063509461097),
 (39, 0.2165063509461097),
 (109, 0.2165063509461097),
 (126, 0.2165063509461097),
 (195, 0.21320071635561041),
 (214, 0.20801257358446093),
 (247, 0.20412414523193154),
 (250, 0.20412414523193154),
 (268, 0.20412414523193154),
 (278, 0.20412414523193154),
 (391, 0.20412414523193154),
 (10, 0.2004459314343183),
 (86, 0.19364916731037082),
 (151, 0.19364916731037082),
 (177, 0.19364916731037082),
 (226, 0.19364916731037082),
 (102, 0.1889822365046136),
 (88, 0.1875),
 (90, 0.1875),
 (91, 0.1875),
 (123, 0.1875),
 (19, 0.18190171877724973),
 (6, 0.1767766952966369),
 (13, 0.1767766952966369),
 (44, 0.1767766952966369),
 (135, 0.1767766952966369),
 (199, 0.1767766952966369),
 (191, 0.17677669529663687),
 (230, 0.17677669529663687),
 (264, 0.17677669529663687),
 (341, 0.17677669529663687),
 (402, 0.17677669529663687),
 (1, 0.1720618004029213),
 (16, 0.1720618004029213),
 (26, 0.1720618004029213),
 (212, 0.1720618004029213),
 (221, 0.16770509831248423),
 (37, 0.16666666666666666),
 (265, 0.16666666666666666),
 (300, 0.16666666666666666),
 (323, 0.16666666666666666),
 (326, 0.16666666666666666),
 (94, 0.1636634176769943),
 (161, 0.1636634176769943),
 (40, 0.15811388300841897),
 (127, 0.15811388300841897),
 (178, 0.15811388300841897),
 (242, 0.15811388300841897),
 (252, 0.15811388300841897),
 (253, 0.15811388300841897),
 (282, 0.15811388300841897),
 (293, 0.15811388300841897),
 (339, 0.15811388300841897),
 (364, 0.15811388300841897),
 (382, 0.15811388300841897),
 (22, 0.15075567228888181),
 (41, 0.15075567228888181),
 (105, 0.15075567228888181),
 (223, 0.15075567228888181),
 (246, 0.15075567228888181),
 (286, 0.15075567228888181),
 (316, 0.15075567228888181),
 (346, 0.15075567228888181),
 (365, 0.15075567228888181),
 (387, 0.15075567228888181),
 (7, 0.14433756729740646),
 (119, 0.14433756729740646),
 (142, 0.14433756729740646),
 (153, 0.14433756729740646),
 (196, 0.14433756729740646),
 (205, 0.14433756729740646),
 (313, 0.14433756729740646),
 (362, 0.14433756729740646),
 (393, 0.14433756729740646),
 (97, 0.1386750490563073),
 (110, 0.1386750490563073),
 (112, 0.1386750490563073),
 (120, 0.1386750490563073),
 (173, 0.1386750490563073),
 (175, 0.1386750490563073),
 (176, 0.1386750490563073),
 (17, 0.1336306209562122),
 (114, 0.1336306209562122),
 (159, 0.1336306209562122),
 (197, 0.1336306209562122),
 (60, 0.12909944487358055),
 (115, 0.12909944487358055),
 (52, 0.125),
 (85, 0.125),
 (140, 0.125),
 (186, 0.125),
 (194, 0.125),
 (235, 0.125),
 (378, 0.125),
 (83, 0.12126781251816648),
 (188, 0.12126781251816648),
 (81, 0.11785113019775793),
 (143, 0.11785113019775793),
 (249, 0.11180339887498948),
 (254, 0.11180339887498948),
 (259, 0.11180339887498948),
 (291, 0.11180339887498948),
 (345, 0.11180339887498948),
 (356, 0.11180339887498948),
 (385, 0.11180339887498948),
 (386, 0.11180339887498948),
 (14, 0.10660035817780521),
 (285, 0.10660035817780521),
 (15, 0.10425720702853739),
 (24, 0.10206207261596577),
 (75, 0.10206207261596577),
 (82, 0.10206207261596577),
 (237, 0.10206207261596577),
 (267, 0.10206207261596577),
 (354, 0.10206207261596577),
 (359, 0.10206207261596577),
 (392, 0.10206207261596577),
 (394, 0.10206207261596577),
 (95, 0.09805806756909202),
 (58, 0.0944911182523068),
 (129, 0.0944911182523068),
 (138, 0.0944911182523068),
 (217, 0.0944911182523068),
 (232, 0.0944911182523068),
 (233, 0.0944911182523068),
 (290, 0.0944911182523068),
 (337, 0.0944911182523068),
 (50, 0.08838834764831843),
 (68, 0.08838834764831843),
 (152, 0.08838834764831843),
 (170, 0.08838834764831843),
 (185, 0.08838834764831843),
 (208, 0.08838834764831843),
 (231, 0.08838834764831843),
 (240, 0.08838834764831843),
 (248, 0.08838834764831843),
 (261, 0.08838834764831843),
 (302, 0.08838834764831843),
 (333, 0.08838834764831843),
 (389, 0.08838834764831843),
 (401, 0.08838834764831843),
 (23, 0.08333333333333333),
 (47, 0.08333333333333333),
 (71, 0.08333333333333333),
 (131, 0.08333333333333333),
 (137, 0.08333333333333333),
 (158, 0.08333333333333333),
 (163, 0.08333333333333333),
 (164, 0.08333333333333333),
 (166, 0.08333333333333333),
 (172, 0.08333333333333333),
 (189, 0.08333333333333333),
 (193, 0.08333333333333333),
 (202, 0.08333333333333333),
 (211, 0.08333333333333333),
 (224, 0.08333333333333333),
 (266, 0.08333333333333333),
 (276, 0.08333333333333333),
 (336, 0.08333333333333333),
 (57, 0.07905694150420949),
 (89, 0.07905694150420949),
 (98, 0.07905694150420949),
 (125, 0.07905694150420949),
 (130, 0.07905694150420949),
 (220, 0.07905694150420949),
 (343, 0.07905694150420949),
 (20, 0.07537783614444091),
 (35, 0.07537783614444091),
 (59, 0.07537783614444091),
 (79, 0.07537783614444091),
 (103, 0.07537783614444091),
 (111, 0.07537783614444091),
 (157, 0.07537783614444091),
 (179, 0.07537783614444091),
 (292, 0.07537783614444091),
 (113, 0.07216878364870323),
 (145, 0.07216878364870323),
 (200, 0.06933752452815364),
 (216, 0.06933752452815364),
 (244, 0.06933752452815364),
 (277, 0.06933752452815364),
 (355, 0.06933752452815364),
 (149, 0.0668153104781061),
 (309, 0.0668153104781061),
 (310, 0.0668153104781061),
 (46, 0.06454972243679027),
 (63, 0.06454972243679027),
 (77, 0.06454972243679027),
 (181, 0.06454972243679027),
 (70, 0.0625),
 (144, 0.0625),
 (154, 0.0625),
 (147, 0.06063390625908324),
 (30, 0.05892556509887897),
 (107, 0.057353933467640436),
 (34, 0.05590169943749474),
 (146, 0.053300179088902604),
 (150, 0.053300179088902604),
 (160, 0.05),
 (21, 0.0),
 (25, 0.0),
 (31, 0.0),
 (32, 0.0),
 (33, 0.0),
 (45, 0.0),
 (48, 0.0),
 (53, 0.0),
 (54, 0.0),
 (55, 0.0),
 (56, 0.0),
 (61, 0.0),
 (62, 0.0),
 (64, 0.0),
 (66, 0.0),
 (69, 0.0),
 (72, 0.0),
 (73, 0.0),
 (74, 0.0),
 (76, 0.0),
 (78, 0.0),
 (80, 0.0),
 (84, 0.0),
 (92, 0.0),
 (93, 0.0),
 (96, 0.0),
 (99, 0.0),
 (100, 0.0),
 (101, 0.0),
 (104, 0.0),
 (106, 0.0),
 (108, 0.0),
 (116, 0.0),
 (117, 0.0),
 (118, 0.0),
 (121, 0.0),
 (122, 0.0),
 (124, 0.0),
 (128, 0.0),
 (132, 0.0),
 (134, 0.0),
 (136, 0.0),
 (139, 0.0),
 (148, 0.0),
 (155, 0.0),
 (156, 0.0),
 (162, 0.0),
 (165, 0.0),
 (167, 0.0),
 (169, 0.0),
 (174, 0.0),
 (180, 0.0),
 (182, 0.0),
 (183, 0.0),
 (184, 0.0),
 (201, 0.0),
 (203, 0.0),
 (206, 0.0),
 (207, 0.0),
 (209, 0.0),
 (210, 0.0),
 (215, 0.0),
 (218, 0.0),
 (219, 0.0),
 (225, 0.0),
 (228, 0.0),
 (229, 0.0),
 (234, 0.0),
 (236, 0.0),
 (238, 0.0),
 (239, 0.0),
 (241, 0.0),
 (243, 0.0),
 (245, 0.0),
 (251, 0.0),
 (255, 0.0),
 (257, 0.0),
 (262, 0.0),
 (263, 0.0),
 (269, 0.0),
 (270, 0.0),
 (271, 0.0),
 (272, 0.0),
 (273, 0.0),
 (274, 0.0),
 (275, 0.0),
 (279, 0.0),
 (280, 0.0),
 (281, 0.0),
 (283, 0.0),
 (284, 0.0),
 (287, 0.0),
 (288, 0.0),
 (289, 0.0),
 (294, 0.0),
 (295, 0.0),
 (296, 0.0),
 (297, 0.0),
 (298, 0.0),
 (299, 0.0),
 (301, 0.0),
 (303, 0.0),
 (304, 0.0),
 (305, 0.0),
 (306, 0.0),
 (307, 0.0),
 (308, 0.0),
 (312, 0.0),
 (314, 0.0),
 (315, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.0),
 (320, 0.0),
 (321, 0.0),
 (322, 0.0),
 (324, 0.0),
 (325, 0.0),
 (327, 0.0),
 (328, 0.0),
 (329, 0.0),
 (330, 0.0),
 (331, 0.0),
 (332, 0.0),
 (334, 0.0),
 (338, 0.0),
 (340, 0.0),
 (342, 0.0),
 (344, 0.0),
 (347, 0.0),
 (348, 0.0),
 (349, 0.0),
 (350, 0.0),
 (351, 0.0),
 (352, 0.0),
 (353, 0.0),
 (358, 0.0),
 (360, 0.0),
 (361, 0.0),
 (363, 0.0),
 (366, 0.0),
 (367, 0.0),
 (368, 0.0),
 (369, 0.0),
 (370, 0.0),
 (371, 0.0),
 (372, 0.0),
 (373, 0.0),
 (374, 0.0),
 (375, 0.0),
 (376, 0.0),
 (377, 0.0),
 (379, 0.0),
 (380, 0.0),
 (381, 0.0),
 (383, 0.0),
 (384, 0.0),
 (388, 0.0),
 (390, 0.0),
 (395, 0.0),
 (396, 0.0),
 (397, 0.0),
 (398, 0.0),
 (399, 0.0),
 (400, 0.0),
 (403, 0.0),
 (404, 0.0),
 (405, 0.0)]

In [39]:
i = 0
print ('The top 5 similar mentor to '+user+' are:')
for element in sorted_similar_mentors:
    print(element[0])
    i = i + 1
    if i >= 5:
        break

The top 5 similar mentor to xyz are:
12
29
198
2
4

In [40]:
identities =[x[0] for x in sorted_similar_mentors[:5]]
identities

[12, 29, 198, 2, 4]

In [41]:
x=identities

In [42]:
result={"Name":[],"Identity":[]}
for i in x :
    result['Name'].append(df.loc[i,"name"])
    result['Identity'].append(df.loc[i,"identity"])

In [45]:
import pandas as pd
result=pd.DataFrame(result)

In [46]:
result

                      Name  Identity
0               Sawan Soni        18
1  Rashish Rajendra Shingi       104
2         Biswaranjan Naik      1514
3             Avineil Jain         6
4             Shubham Shah         8